<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thearmagan.github.io</title>
    <link rel="stylesheet" href="style.css" />
    <meta property="og:site_name" content="thearmagan.github.io" />
    <meta property="og:title" content="TheArmagan" />
    <meta
      property="og:description"
      content="Selamlar! Benim adım Kıraç Armağan Önal, 2004 30 Ocak doğumluyum.
              Genel olarak JavaScript (EcmaScript) ile uğraşıyorum, backend
              yazılımcısı olarak yazılım hayatına atıldım fakat kendimi frontend
              tarafındada geliştirmeye çalışıyorum. Aşağıda yaptığım bazı
              projeleri görebilirsiniz. Ek olarak yaptığım tüm projeleri görmek
              istiyorsanız Github ve Npm adreslerime bakabilirsiniz."
    />
    <meta property="theme-color" content="#E2ECF8" />
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li class="logo"><h1>TheArmağan</h1></li>
          <li>
            <a href="#projelerim">Projelerim</a>
          </li>
          <li>
            <a href="#hakkımda">Hakkımda</a>
          </li>
          <li>
            <a href="https://github.com/TheArmagan">NPM</a>
          </li>
          <li>
            <a href="https://www.npmjs.com/~armagan_">Github</a>
          </li>
          <li>
            <a href="/discord">Discord</a>
          </li>
        </ul>
      </nav>
      <main>
        <section id="hakkımda">
          <div class="card">
            <h1 class="card-title">Hakkımda</h1>
            <p class="card-text">
              Selamlar! Benim adım Kıraç Armağan Önal, 2004 30 Ocak doğumluyum.
              Genel olarak JavaScript (EcmaScript) ile uğraşıyorum, backend
              yazılımcısı olarak yazılım hayatına atıldım fakat kendimi frontend
              tarafındada geliştirmeye çalışıyorum. Aşağıda yaptığım bazı
              projeleri görebilirsiniz. Ek olarak yaptığım tüm projeleri görmek
              istiyorsanız Github ve NPM adreslerime bakabilirsiniz. (ps.
              Disleksim olduğu için yazım hatalarımın kusuruna bakmayın lütfen.)
            </p>
          </div>
        </section>
        <hr />
        <section id="projelerim">
          <h1 class="section-title">Projelerim</h1>
          <div class="projects-wrapper">
            <div
              v-for="(proje, index) in projeler"
              :key="index"
              class="project-card"
              :class="{'full-size': proje.fullSize}"
            >
              <span v-if="!!proje?.splash" class="splash"
                >{{proje.splash}}</span
              >
              <div
                class="card-image"
                :class="{'center-preview': proje.centerPreview}"
                :style="`--img: url('${proje.previewImage}')`"
              ></div>
              <h1 class="card-title">{{proje.title}}</h1>
              <p class="card-text">{{proje.description}}</p>
              <div class="card-buttons">
                <div class="button-container">
                  <a
                    v-for="(button, buttonIndex) in proje.buttons"
                    :key="buttonIndex"
                    class="button"
                    :href="button.url"
                    :class="{'disabled': !button.url}"
                    >{{button.title}}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/data/projelerim.js"></script>
    <script src="script.js"></script>
  </body>
</html>
