<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thearmagan.github.io</title>
    <link rel="stylesheet" href="style.css" />
    <meta property="og:site_name" content="thearmagan.github.io" />
    <meta property="og:title" content="TheArmagan" />
    <meta
      property="og:description"
      content="Benim hakkımda bilgi ve projelerim."
    />
    <meta property="theme-color" content="#E2ECF8" />
  </head>
  <body>
    <div id="container">
      <nav>
        <ul>
          <li class="logo"><h1>TheArmağan</h1></li>
          <li>
            <a href="#projelerim">Projelerim</a>
          </li>
          <li>
            <a href="#hakkımda">Hakkımda</a>
          </li>
          <li>
            <a href="https://github.com/TheArmagan">Github Sayfam</a>
          </li>
        </ul>
      </nav>
      <!-- <div ref="hamburgerMenu" class="hamburger-menu">
        <ul>
          <li>
            <a href="#projelerim">Projelerim</a>
          </li>
          <li>
            <a href="#hakkımda">Hakkımda</a>
          </li>
          <li>
            <a href="https://thearmagan.github.io">Github Sayfam</a>
          </li>
        </ul>
      </div> -->
      <main>
        <section id="hakkımda">
          <div class="card">
            <h1 class="card-title">Hakkımda</h1>
            <p class="card-text">
              Merhaba benim adım Armağan,
              <span class="auto-fill-age">[]</span> yaşındayım.
            </p>
          </div>
        </section>
        <hr />
        <section id="projelerim">
          <h1 class="section-title">Projelerim</h1>
          <div class="projects-wrapper">
            <iframe
              class="project-card full-size"
              src="/discord-widget.html"
              frameborder="0"
            ></iframe>
            <div
              v-for="(proje, index) in projeler"
              :key="index"
              class="project-card"
              :class="{'full-size': proje.fullSize}"
            >
              <div
                class="card-image"
                :style="`--img: url('${proje.previewImage}')`"
              ></div>
              <h1 class="card-title">{{proje.title}}</h1>
              <p class="card-text">{{proje.description}}</p>
              <div class="card-buttons">
                <div class="button-container">
                  <a
                    v-for="(button, buttonIndex) in proje.buttons"
                    :key="buttonIndex"
                    class="button"
                    :href="button.url"
                    :class="{'disabled': !button.url}"
                    >{{button.title}}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr />
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/data/projelerim.js"></script>
    <script src="script.js"></script>
  </body>
</html>
